<div>
  <div>
    <p>`src = "assets/file.jpg"`</p>
    <img src="assets/img/picture.jpg" alt="Woman with towel" />
  </div>
  <div>
    <p>`[src]="imgURL`</p>
    <img [src]="imgURL" alt="imgObject.name" />
  </div>
  <div>
    <p>`[src]="imgObject.url`</p>
    <img [src]="imgObject.url" alt="imgObject.name" />
  </div>

  <h2>Property binding</h2>
  <p>Vad är skillnaden [class] och class?</p>
  <p [class]="klass1">Class1</p>
  <p class="klass2">Class2</p>

  <h2>Leka med klasser</h2>
  <p>class="klass3" [class.klass4] = minBoolean</p>
  <p>Om booleanen är true läggs klassen på, om den inte är true ingen klass</p>
  <span [class.klass4]="glad" class="klass3"></span>
  <p>
    [style.background-color]="glad ? 'pink' : 'green'" när booleanen glad är
    true så blir bakgrundsfärgen rosa, när den är false så blir den grön
  </p>
  <span
    class="klass3"
    [style.background-color]="glad ? 'pink' : 'green'"
  ></span>

  <button (click)="changeColor()">Byt färg!</button>
</div>
