<p>
  Interpolation är när man skriver ut egenskaper i vår komponent i vår html
  genom dubbla måsvingar omkring egenskapen till exempel:
  {{ firstname }}
</p>

<p>
  Bra info i övning: "Nu kommer ni att märka att ni får en gul squiggly under
  ert värde om ni använda dubbla citattecken ”. Om ni använder enkla citattecken
  ’ får ni inte detta. Detta beror på att det finns en regel som kontrollerar
  all typescript som ni skriver. Dessa regler definieras i filen som heter
  tslint.json. Om ni vill stänga av eller ändra på regler i denna fil går det
  bra att göra förändringar. T.ex. om ni vill stänga av kontroller för enkla och
  dubbla citattecken kan ni sätta värdet på regeln quotemark till false istället
  för true."
</p>
