<header>
  <h1>Logo</h1>
  <p>Navbar</p>
</header>
<main>
  <div>
    <h2>Övning 1 & 2 : komma igång + interpolation</h2>
    <app-getting-started></app-getting-started>
  </div>
  <div>
    <h2>Övning 3 : basics test</h2>
    <app-basics></app-basics>
  </div>
  <div>
    <h2>Övning 4: komponenter</h2>
    <app-components></app-components>
  </div>
  <div>
    <h2>Övning 5: bindings</h2>
    <app-bindings></app-bindings>
  </div>
  <div>
    <h2>Övning 6: User input</h2>
    <app-user-input></app-user-input>
  </div>
  <div>
    <h2>Övning 6: User input</h2>
    <app-input-output></app-input-output>
  </div>
  <div>
    <h2>Övning 7: Directive</h2>
    <app-directive></app-directive>
  </div>
  <div>
    <h2>Övning 8: Pipes</h2>
    <app-pipes></app-pipes>
  </div>
</main>
<footer>
  <p>Footer</p>
</footer>
