<p>
  Kommando terminal: ng g d
  directive/"namnpådetsomskahända"/"namnpådetsomskahända"
</p>

<span [appHighligt]="animationspeed">h</span>
<span [appHighligt]="animationspeed">o</span>
<span [appHighligt]="animationspeed">v</span>
<span [appHighligt]="animationspeed">e</span>
<span [appHighligt]="animationspeed">r </span>

<span [appHighligt]="animationspeed">o</span>
<span [appHighligt]="animationspeed">v</span>
<span [appHighligt]="animationspeed">e</span>
<span [appHighligt]="animationspeed">r </span>

<span [appHighligt]="animationspeed">m</span>
<span [appHighligt]="animationspeed">e </span>

<span [appHighligt]="animationspeed">c</span>
<span [appHighligt]="animationspeed">o</span>
<span [appHighligt]="animationspeed">r</span>
<span [appHighligt]="animationspeed">n</span>
<span [appHighligt]="animationspeed">e</span>
<span [appHighligt]="animationspeed">l</span>
<span [appHighligt]="animationspeed">i</span>
<span [appHighligt]="animationspeed">a</span>
