/* You can add global styles to this file, and also import other style files */
body {
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(78, 31, 31);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(src/assets/img/coast-gb4ffa78ae_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 20px solid rgba(255, 255, 255, 0.267);
}
app-root {
  padding: 10px;
  height: auto;
}
